@tailwind base;
@tailwind components;
@tailwind utilities;

.movieslink{
  display: none;
}

.movies:hover .movieslink{
  display: flex;
}
.tvshowslink{
  display: none;
}

.tvshows:hover .tvshowslink{
  display: flex;
}
.banner{
background-image: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/tt79dbOPd9Z9ykEOpvckttgYXwH.jpg");
}
.image{
  /* background-image: url("https://www.themoviedb.org/t/p/w220_and_h330_face/Af4bXE63pVsb2FtbW8uYIyPBadD.jpg"); */
}
.moviewrapper{
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg");
}
.wrapper{
  -webkit-box-shadow: inset -52px -2px 38px -9px rgb(247, 247, 247);
-moz-box-shadow: inset -52px -2px 38px -9px rgb(247, 247, 247);
box-shadow: inset -52px -2px 38px -9px rgb(249, 249, 249);
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  
}



/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(227, 223, 223, 0.635); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c9c8c8b3; 
}
